* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; 
    
  
  }

  body{
    background-color:whitesmoke;
      overflow-x: hidden;
  }
/*Estilização banner*/

.banner-home{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    height: 400px;
    margin-top: 4.5%;
}

/*Estilização produtos*/

.H2{
    text-align: center;
    margin-top: 28px;
    margin-bottom: 28px;
    font-family: Arial;
   
}

.setas{border-radius: 100%;padding: 10px;}



.p1 img{
    width: 100%;
    height: 10vw;
}
.p2 img{
    width: 100%;
    height: 90%;
}


.p1{
  display: flex;
  justify-content: space-evenly; 
   background-color: #f9f9f9;
  width: 100%;
  height: 100%;

  padding: 10px;
  text-align: center;
  border-radius: 8px;
  
  
   
    
}
.p1 button{
    border-radius: 100%;
     margin-top: 8vw;
       width: 5%;
       
   height: 5vw;
}



.p2{ display: flex;
   justify-content: space-evenly; 
   background-color: #f9f9f9;
  width: 100%;
  height: 100%;

  padding: 10px;
  text-align: center;
  border-radius: 8px;
  
}

.p2 button{
     border-radius: 100%;
     margin-top: 8vw;
       width: 5%;
       
   height: 5vw;
}




.produto1{
      background-color: #f9f9f9;
  width: 200px;
  padding: 10px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 0 6px rgba(0,0,0,0.1);
 transition: 1s;
   }

.produto1:hover{
    transform: scale(1.1,1.1);
    
}
.produto2{ background-color: #f9f9f9;
  width: 200px;
  padding: 10px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 0 6px rgba(0,0,0,0.1);
 transition: 1s;
 display: none;
}
.produto2:hover{
    transform: scale(1.1,1.1);
    
}
.produto3{  background-color: #f9f9f9;
  width: 200px;
  padding: 10px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 0 6px rgba(0,0,0,0.1);
 transition: 1s; }
.produto3:hover{
    transform: scale(1.1,1.1);
    
}
.produto4{
 background-color: #f9f9f9;
  width: 200px;
  padding: 10px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 0 6px rgba(0,0,0,0.1);
 transition: 1s;
 display: none;
}
.produto4:hover{
    transform: scale(1.1,1.1);
    
}
















































































.class{
    background-color: black;
    display: grid;
    grid-template-columns: 1fr  1fr;
    color: white;
      font-family: Arial, sans-serif;
      font-size: 100%;
    width: 100%;
    position: fixed;
    
    top: 0px;
     text-align: center;
     transition: 1.5;
}

.logo{
    width: 100%;
    height: 100%;
   
}
.logo:hover{
    transform: scale(1.1,1.1);
    }

.a1{
    display: flex;
     gap: 1%;
    font-size: 1.5vw;
    
}
.a1 a{
    width: 10%;
    height: 100%;
   
   }

.a1 p{
    margin: auto 2% ;
   
   }
   .a1 p:hover{
     transform: scale(1.1,1.1);
    border-bottom: 5px solid white;}
   .a2{margin: auto 2% auto 10% ;}
.a3{
   margin: auto 2%;
   width: 5%;
   height: 100%;
   filter:  contrast(100%);}
   

.a4{ margin: auto 2%;
   width: 4%;
   height: 100%;
filter: invert(90%) contrast(100%);}
.a4 :hover{
     transform: scale(1.1,1.1);
}
 .a3 :hover{
     transform: scale(1.1,1.1);
 }
.input{
    margin: 2% 2% 2% 35%;
}