* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.ac{
    padding: 15px;
    text-align: center;
    background-color: #f2f2f2;
    margin-top: 4.5%;
    color: black;
   
}
.ajuda{display: flex;}
.csa{
    
    text-align: center;
    margin-top: 9%;
    color: rgba(0, 0, 0, 0.767);
    margin-bottom: 1%;
}
.cadastre-se{
    border: 2px solid black;
    display: grid;
    padding: 10px;
    margin-top: 0%;
    margin: 0px 20%;
    grid-template-columns: 1fr;
    grid-template-columns: 1fr;
}
.cadastre-se input{
    padding: 10px;
    margin-bottom: 1%;
}
.href{
    
    margin: 0px;
    margin: auto;
}

.COONTA{
     margin-left: 20%;
    margin-right: 34%;
    padding: 1.5%;
    color: white;
    background-color: black;
    cursor:pointer
}
a{color: black;}


.footer {
  background-color: #111;
  color: #fff;
  padding: 20px;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  max-width: 800px;
  margin: auto;
}

.footer-links div {
  text-align: left;
}
















.class{
    background-color: black;
    display: grid;
    grid-template-columns: 1fr  1fr;
    color: white;
      font-family: Arial, sans-serif;
      font-size: 100%;
    width: 100%;
    position: fixed;
    
    top: 0px;
     text-align: center;
     transition: 1.5;
}

.logo{
    width: 100%;
    height: 100%;
   
}
.logo:hover{
    transform: scale(1.1,1.1);
    }

.a1{
    display: flex;
     gap: 1%;
    font-size: 1.5vw;
    
}
.a1 a{
    width: 10%;
    height: 100%;
   
   }

.a1 p{
    margin: auto 2% ;
   
   }
   .a1 p:hover{
     transform: scale(1.1,1.1);
    border-bottom: 5px solid white;}
   .a2{margin: auto 2% auto 10% ;}
.a3{
   margin: auto 2%;
   width: 5%;
   height: 100%;
   filter:  contrast(100%);}
   

.a4{ margin: auto 2%;
   width: 4%;
   height: 100%;
filter: invert(90%) contrast(100%);}
.a4 :hover{
     transform: scale(1.1,1.1);
}
 .a3 :hover{
     transform: scale(1.1,1.1);
 }
.input{
    margin: 2% 2% 2% 35%;
}