* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #fff;
  color: #000;
}
.logocabeca {
  width: 110px;
  position: relative;
}



header {
 background-color: #1C1C1C;
 padding: 0px;
 margin:  0px;
 width: 100vw;
}

.caixa {
 position: relative;
 margin: 0 10px 15px 10px ;
}

.imgdomenu {
width: 45px;
margin: auto;
}

.navmenu {
 position: relative;
 left: 60px;
 display: inline;
 text-align: center;
 width: 20px;
}

.navmenu li {
 display: inline;
  margin:0 0 0 15px;
}


.navmenu a {  
	text-transform: uppercase;
 color: whitesmoke;
 text-decoration: none;
 font-size: 20px;
text-align: center;
}

.navmenu a:hover{
  color: grey;
  text-decoration: none;
}
.top-bar {
  background-color: #111;
  padding: 15px;
  text-align: right;
}

.menu-button {
  background-color: #444;
  color: #fff;
  padding: 5px 10px;
  border: none;
}

.banner img {
  width: 100%;
  height: 400px;
  margin-top: 4.5%;
  display: block;
}

.content {
  padding: 30px 20px;
}

.brand-section {
  margin-bottom: 40px;
}

.brand-section h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
}

.product-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.product-card {
  background-color: #f9f9f9;
  width: 200px;
  padding: 10px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 0 6px rgba(0,0,0,0.1);

  
}

a{
  color: #000;
  text-decoration: none;
}
a:hover{
  color: white;
}
body{font-family: Arial, sans-serif;}

.product-card img {
  width: 100%;
  height: auto;
  border-radius: 6px;
  margin-bottom: 10px;
}

.footer {
  background-color: #111;
  color: #fff;
  padding: 20px;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  max-width: 800px;
  margin: auto;
}

.footer-links div {
  text-align: left;
}

.product-card:hover{
margin: 10;
background-color: purple;
color: aliceblue;

}



.class{
    background-color: black;
    display: grid;
    grid-template-columns: 1fr  1fr;
    color: white;
      font-family: Arial, sans-serif;
      font-size: 100%;
    width: 100%;
    position: fixed;
    
    top: 0px;
     text-align: center;
     transition: 1.5;
}

.logo{
    width: 100%;
    height: 100%;
   
}
.logo:hover{
    transform: scale(1.1,1.1);
    }

.a1{
    display: flex;
     gap: 1%;
    font-size: 1.5vw;
    
}
.a1 a{
    width: 10%;
    height: 100%;
   
   }

.a1 p{
    margin: auto 2% ;
   
   }
   .a1 p:hover{
     transform: scale(1.1,1.1);
    border-bottom: 5px solid white;}
   .a2{margin: auto 2% auto 10% ;}
.a3{
   margin: auto 2%;
   width: 5%;
   height: 100%;
   filter:  contrast(100%);}
   

.a4{ margin: auto 2%;
   width: 4%;
   height: 100%;
filter: invert(90%) contrast(100%);}
.a4 :hover{
     transform: scale(1.1,1.1);
}
 .a3 :hover{
     transform: scale(1.1,1.1);
 }
.input{
    margin: 2% 2% 2% 35%;
}