* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.dprincipal {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 0vw 0vw 0vw 0vw;
    text-align: end;
    font-size: 2.1vw;
    height: 67vw;
    width: 20vw;

}

.resto {
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 10%;
}

.search-container {
    display: flex;
    border-radius: 50px;

    overflow: hidden;

}



.search-container button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.resto img {
    border-radius: 0%;
    width: 20%;
    height: 50%;
}

.imgLogo {
    display: grid;
    width: 70%;
    height: 30%;
    text-align: start;
    margin-top: 0%;

}

.imgLogo img {
    transition: 10s;
    border: 0px;

}

.principais {
    display: grid;

}

.d1 {
    display: grid;
    margin-left: 1%;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 1%;
    margin-top: 6.5%;
}

.corpo img {
    width: 100%;
   

    border-radius: 10px;

}




.d2 {
    display: grid;
    grid-template-columns: 3fr 2fr;
}

.d2 section p {
    font-size: 5vw;
}

button {
    width: 5vw;
    cursor: pointer;
    background-color: white;
    border: 1px;
}
button:focus{
transform: scale(1.1,1.1);    
box-shadow: 0px 0px 6px rgba(0,0,0,0.1);
border-radius: 10px;
}

.imgs {
    margin-top: 24.4vw;
}

h1 {
    text-align: center;
    font-size: 10vw;
}

body {
    overflow-x: hidden;
}

p {
    font-size: 100%;
}

.imgs p {
    font-size: 5vw;
}








.class{
    background-color: black;
    display: grid;
    grid-template-columns: 1fr  1fr;
    color: white;
      font-family: Arial, sans-serif;
      font-size: 100%;
    width: 100%;
    position: fixed;
    
    top: 0px;
     text-align: center;
     transition: 1.5;
}

.logo{
    width: 100%;
    height: 100%;
   
}
.logo:hover{
    transform: scale(1.1,1.1);
    }

.a1{
    display: flex;
     gap: 1%;
    font-size: 1.5vw;
    
}
.a1 a{
    width: 10%;
    height: 100%;
   
   }

.a1 p{
    margin: auto 2% ;
   
   }
   .a1 p:hover{
     transform: scale(1.1,1.1);
    border-bottom: 5px solid white;}
   .a2{margin: auto 2% auto 10% ;}
.a3{
   margin: auto 2%;
   width: 5%;
   height: 100%;
   filter:  contrast(100%);}
   

.a4{ margin: auto 2%;
   width: 4%;
   height: 100%;
filter: invert(90%) contrast(100%);}
.a4 :hover{
     transform: scale(1.1,1.1);
}
 .a3 :hover{
     transform: scale(1.1,1.1);
 }
.input{
    margin: 2% 2% 2% 35%;
}