* {
  margin: 0px;
}

html, body {
  overflow-x: hidden;
}

body {
  font-family: arial;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: white;
}

.logo {
  width: 60px;
  height: auto;
  padding: 5px;
  left: 0px;
  display: block;
}

.navbar {
    width: 100%;
    height: 65px;
    display: flex;
    background-color: #241f1e;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.navbar-itens {
    display: flex;
    align-items: center;
    gap: 60px;
}

.icon {
    width: 35px;
    height: 30px;
    margin-bottom: auto;
    margin-top: auto;
    padding-right: 12px;
    left: 0px;
    filter: brightness(0) invert(1);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
}

.itens {
  color: white;
  text-decoration: none;
}

.itens:hover {
  color: #b3b3b3;
}

.navbar-icons {
  display: flex;
  gap: 25px;
}







.vazio {
    background: none;  
    border: none;      
    padding: 0;         
}

button {
  cursor: pointer;
}

.chuteiras {
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-family: HELVETICA;
  font-weight: bold;
  font-size: 22px;
  margin-top: 3%;
}

.topo {
    display: flex;           
    justify-content: space-between;
    align-items: center;     
    margin-bottom: 25px;
    margin-left: 6%;
    margin-right: 6%;
}

.melhores {
    display: flex;
    flex-direction: column;
}

.melhores p {
  margin-bottom: 3%;
  text-decoration: none;
  color: black;
}

.tipos {
    display: flex;
    gap: 15px;
}

.btn {
  border-radius: 4px;
  border: none;
  height: 50px;
  font-family: HELVETICA;
  font-weight: bold;
  font-size: 14px;   
}

.modelos {
    display: flex;
    gap: 3%;            
    justify-content: center;
}

.modelo-botao {
    background: #f5f5f6;  
    border: none;
    padding: 0;           
    cursor: pointer;
    display: inline-block;
    border-radius: 8px;   
}

.modelo-tamanho {
    width: 22vh;       
    height: auto;
    display: block;      
    border-radius: 8px; 
}





.times {
    display: flex;           
    justify-content: space-between;
    align-items: center;     
    margin-bottom: 25px;
    margin-left: 6%;
    font-family: HELVETICA;
    font-weight: bold;
    font-size: 22px;
    margin-right: 6%;
    margin-top: 6%;
}

.coração {
    display: flex;
    flex-direction: column;
}

.coração p {
  margin-bottom: 2%;
  text-decoration: none;
  color: black;
}

.topicos {
    display: flex;
    gap: 30px;            
    justify-content: center;
}

.topicos-botao {
    background: #f5f5f6;  
    border: none;
    padding: 0;           
    cursor: pointer;
    display: inline-block;
    border-radius: 8px;   
}

.topicos-img {
  width: 10vh;       
    height: auto;
    display: block;      
    border-radius: 8px; 
}

.camisas {
    display: flex;
    gap: 3%;            
    justify-content: center;
    margin-top: 2%;
    margin-bottom: 3%;
}

.camisa-botao {
  background: #f5f5f6;  
    border: none;
    padding: 0;           
    cursor: pointer;
    display: inline-block;
    border-radius: 8px;   
}

.camisa-img {
    width: 25vh;       
    height: auto;
    display: block;      
    border-radius: 8px; 
}

.rodape {
  background-color: #241f1e; /* combina com sua navbar preta */
  color: white;
  padding: 2%;
  margin-bottom: 0;
  display: flex;
  bottom: 0;
  width: 100%;
  font-size: 14px;
  justify-content: space-around;
  margin-top: auto;
}


.termo {
  color: #B57EDC;
}
