

body {
    font-family: arial;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: white;
    margin: 0;
}

.logo {
  width: 60px;
  height: auto;
  padding: 5px;
  left: 0px;
  display: block;
}

.navbar {
    width: 100%;
    height: 65px;
    display: flex;
    background-color: #241f1e;
    justify-content: space-between;
    display: flex;
    align-items: center;
    position: fixed;
}

.navbar-itens {
    display: flex;
    align-items: center;
    gap: 60px;
}

.icon {
    width: 35px;
    height: 30px;
    margin-bottom: auto;
    margin-top: auto;
    padding-right: 12px;
    left: 0px;
    filter: brightness(0) invert(1);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
}

.itens {
  color: white;
  text-decoration: none;
}

.itens:hover {
  color: #b3b3b3;
}

.navbar-icons {
  display: flex;
  gap: 25px;
}

button{
  cursor: pointer;
}


.itens:hover {
  color: #b3b3b3;
}

.esporte {
    margin-top: 2%;
    display: flex;
    justify-content: space-around;
    gap: 40px;
}
.fundo {
    background-color: black;
    width: 60vh;
    height: auto;
}

.title1 {
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 2%;
}

.title1 p {
    margin-top: 7%;
    margin-bottom: 0;
}

.veja {
    border-radius: 20px;
    font-size: 18px;
    width: 130px;
    height: 35px;
    border-style: none;
    background-color: #241f1e;
    color: white;
}

.moda {
    display: flex;
    flex-direction: column;
    margin: 3%;
}

.tenis {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

.moda p {
  font-size: 22px;
  font-family: helvetica;

}

.tenis-botao {
    background: #f5f5f6;  
    border: none;
    padding: 0;           
    cursor: pointer;
    display: inline-block;
    border-radius: 5px; 
}

.tenis-img {
    width: 45vh;       
    height: auto;
    display: block;      
    border-radius: 8px; 
}

.p {
  display: flex;
  justify-content: space-between;
}

.veja2 {
  border-radius: 20px;
    font-size: 18px;
    width: 130px;
    height: 35px;
    border-style: none;
    background-color: #241f1e;
    color: white;
    margin-top: 15px;
}

