* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  background-color: whitesmoke;
  overflow-x: hidden;
  font-family: arial;
  margin: 0;
}

/*Estilização banner*/

.banner-home {
  width: 80%;
  box-shadow: 0px 0px 10.4px 10px black;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr;
  height: 500px;

  margin-top: 4.5%;
}

/*Estilização produtos*/

.H2 {
  text-align: center;
  margin-top: 28px;
  margin-bottom: 28px;
  font-family: sans-serif
}

.setas {
  border-radius: 100%;
  padding: 10px;
}

.p1 {
  display: flex;
  justify-content: space-evenly;
  background-color: #f9f9f9;
  width: 100%;
  height: 100%;

  padding: 10px;
  text-align: center;
  border-radius: 8px;

  outline: none;
 ;


}


.p1 button {
  border-radius: 100%;
  margin-top: 8vw;
  width: 5%;

  height: 5vw;
}

.p1 button img {
  width: 100%;
  height: 80%;
}

.p2 button img {
  width: 100%;
  height: 80%;
}


.p2 {
  display: flex;
  justify-content: space-evenly;
  background-color: #f9f9f9;
  width: 100%;
  height: 100%;
  outline: none;
  padding: 10px;
  text-align: center;
  border-radius: 8px;
  color: #000;
  text-decoration: none;

}

.p2 button {
  border-radius: 100%;
  margin-top: 8vw;
  width: 5%;

  height: 5vw;
}






.produto1 img {
  width: 100%;
  height: 99%;
}

br {
  margin-bottom: 5px;
}

.produto2,
.produto1 {
  background-color: #f9f9f9;
  width: 20%;
  padding: 1%;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
  color: #000;
  text-decoration: none;
  display: none;
  box-shadow: 0 0 6px rgb(0, 0, 0);
}

.produto2:hover,
.produto1:hover {
  margin: 10;
  background-color: purple;
  color: aliceblue;
  z-index: 0;
  transform: scale(1.05);

}

.produto2 img {
  width: 100%;
  height: 95%;
}

.rodape {
  background-color: #241f1e;
  /* combina com sua navbar preta */
  color: white;
  padding: 1% 0;
  margin-bottom: 0;
  display: flex;
  bottom: 0;
  width: 100%;
  font-size: 14px;
  justify-content: space-around;
  z-index: 200;
   

  margin-top: auto;
  margin-top: 4%;
}


.pagamento{
   z-index: 200;
}




header {
  background-color: #241f1e;
  height: 65px;
  width: 100%;
  gap: 50%;
  top:0%;
  display: flex;
  justify-content: space-between;
  padding: 0.5%;
  font-size: 100%;
    z-index: 100;
    position: fixed;

}

.primary {

  display: flex;
  justify-content: space-between;
  gap: 21%;
  margin: calc(auto-10px);
}

.segundary {
   
  display: flex;
  justify-content: end;
  margin: auto;
    margin-top:  1%;
  gap: 10%;
  width: 100%;
  height: 100%;
  margin-right: 3%;
}


.primary a  {
  margin: auto;
 
  text-decoration: none;
  color: white;
}

.primary img {
  width: 24%;
  width: 60px;
  filter: invert(0%);
  height: 100%;
  margin: auto;
}

.segundary button img {
    width: 30px;
    height: 30px;
   filter: invert(100%);
}
.segundary button{
  background-color: #241f1e;
 width: 10%;
 max-width: 100%;
  height: 10%;
  
  border: 0px;
}
.segundary .input{
   position: fixed;
  
   margin-top:  0.5%;
   
   display: none;
   width: 15%;
   height: auto;
    margin-right: 20%;
}

button{
  cursor: pointer;
}

.cadastros{
  height: 15%; 
  width: 9%;
  font-size:85%;
  background-color:#241f1e;
  position: fixed;
  text-align: center;
  top: 10%;}

#perfil{
  align-items: end;
  display: flex;
  flex-direction: column;
  margin-right: 90%; 
  display: none;}

.cadastros a{
  width: 85%;
   color: white;
   text-decoration:none;
   padding: 1px 0.5vw ;
   border: 2px solid white;
   position: absolute; 
   top: 20px;
   left: 9%;}

.cadastros .login{
  color: white;
  text-decoration:none;
  padding: 0px 1.4vw;
  border: 2px solid white;
  top: 60px;}

.cadastros a:hover{
  color:  purple;
  border: purple solid 2px;
}
.cadastros .login:hover{
  color:  purple;
  border: purple solid 2px;
}




.fonte {
    font-family: arial;
}

.comprars{
  z-index: 1;
  position: fixed;
  background:#241f1e;
  width: 25%;
  height: 100%;
  color: white;
  top: 8.1%;
  padding-top: 10px;
  text-align: center;
  border: #f9f9f9;
}
.dcompra{
  color: white;
 z-index: 1;
 
  align-items: end;
  flex-direction: column;
  width: 100%;
  height: max-content;

  
  text-align: center;
}
.titulo-de-compra{
  width: 100%;
  height: 10%;
  text-align: center;

}
button{
    cursor: pointer;
}
.com{
  width: 20px;
  height: 20px;

  background-color:#241f1e;
  color: #ffffff;
 
  margin-left: 11%;
  border-radius: 100%;
  position: fixed;
   margin-top: 0px;
  border: #241f1e;
 
}
.compr{
  width: 100%;
  position: fixed;
  text-align: end;
  color: white;
}
.infocompra div{
  display: flex;
  justify-content: space-between;
  border:1px solid #fff;
  align-items: center;
  margin: 10px;
  font-size: 15px;
 
}
.infocompra div img{
  width:60px;
height: 60px;
margin-right: 1vw;
}
#compradivp{
  width: 100px;
  

}
.infocompra div button{
  width: 10px;
  height: 10px;
  margin-bottom:  17%;
  margin-left: 10px;
  border: 0;
  color: #fff;
  background-color: #241f1e;
 
}
.infocompra div button:hover{
  color: red;
}

