body {
  font-family: Arial;
  color: #000;
  margin: 0;
}

body {
    font-family: arial;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: white;
    margin: 0;
}

.logo {
  width: 60px;
  height: auto;
  padding: 5px;
  left: 0px;
  display: block;
}

.navbar {
    width: 100%;
    height: 65px;
    display: flex;
    background-color: #241f1e;
    justify-content: space-between;
    display: flex;
    align-items: center;
    position: fixed;
}

.navbar-itens {
    display: flex;
    align-items: center;
    gap: 60px;
}

.icon {
    width: 35px;
    height: 30px;
    margin-bottom: auto;
    margin-top: auto;
    padding-right: 12px;
    left: 0px;
    filter: brightness(0) invert(1);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
}

.itens {
  color: white;
  text-decoration: none;
}

.itens:hover {
  color: #b3b3b3;
}

.navbar-icons {
  display: flex;
  gap: 25px;
}

 .title1 {
    margin-top: 100px;
    background-color: rgb(55, 0, 144);
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 15px;
    font-size: 20px;
    text-shadow: 0 0 8px #4e0000;
    font-family: Helvetica;
  }

header {
 background-color: #1C1C1C;
 padding: 0px;
 margin:  0px;
 width: 100vw;

}

.caixa {
 position: relative;
 margin: 0px 0px 15px 10px ;
}

.banner img {
  width: 80%;
  margin: auto;
    box-shadow: 0px 0px 10.4px 10px black;
  height: 500px;
  display: block;
}

.content {
  padding: 30px 20px;
}

.brand-section {
  margin-bottom: 40px;
  margin-top: auto;
}

.brand-section h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  margin-top: 10px ;
}

.product-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.product-card {
  background-color: #f9f9f9;
  margin-top: 5px;
  width: 300px;
  padding: 10px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 0 6px rgba(0,0,0,0.1);
}

.product-card img {
  width: 100%;
  height: auto;
  border-radius: 6px;
  margin-bottom: 2px;
}

.product-card:hover{
width: 350px;
background-color: rgb(55, 0, 144);

}

.rodape {
  background-color: #241f1e; /* combina com sua navbar preta */
  color: white;
  padding: 5px 0;
  margin-bottom: 0;
  display: flex;
  bottom: 0;
  width: 100%;
  font-size: 14px;
  justify-content: space-around;
  margin-top: auto;
}

.termo {
  color: #B57EDC;
}