* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  color: #000;
}

.logocabeca {
  width: 110px;
  position: relative;
  margin-bottom: 100px;
}

 .halloween-banner {
    margin-top: 100px;
    background-color: rgb(55, 0, 144);
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 15px;
    font-size: 20px;
    text-shadow: 0 0 8px #4e0000;
  }

header {
 background-color: #1C1C1C;
 padding: 0px;
 margin:  0px;
 width: 100vw;

}

.caixa {
 position: relative;
 margin: 0px 0px 15px 10px ;
}

.imgdomenu {
width: 45px;
margin: auto;
}

.navmenu {
 position: relative;
 left: 60px;
 display: inline;
 text-align: center;
 width: 20px;
}

.navmenu li {
 display: inline;
  margin:0 0 0 15px;
}


.navmenu a {  
	text-transform: uppercase;
 color: whitesmoke;
 text-decoration: none;
 font-size: 20px;
text-align: center;
}

.navmenu a:hover{
  color: grey;
  text-decoration: none;
}
.top-bar {
  background-color: #111;
  padding: 15px;
  text-align: right;
}

.menu-button {
  background-color: #444;
  color: #fff;
  padding: 5px 10px;
  border: none;
}

.banner img {
  width: 80%;
  margin: auto;
    box-shadow: 0px 0px 10.4px 10px black;
  height: 500px;
  display: block;
}

.content {
  padding: 30px 20px;
}

.brand-section {
  margin-bottom: 40px;
  margin-top: auto;
}

.brand-section h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  margin-top: 10px ;
}

.product-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.product-card {
  background-color: #f9f9f9;
  margin-top: 5px;
  width: 300px;
  padding: 10px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 0 6px rgba(0,0,0,0.1);

  
}
                  
a{
  color: #000;
  text-decoration: none;
}
a:hover{
  color: white;
}

body{font-family: Arial, sans-serif;}

.product-card img {
  width: 100%;
  height: auto;
  border-radius: 6px;
  margin-bottom: 2px;
}

.footer {
  background-color: #111;
  color: #fff;
  padding: 20px;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  max-width: 800px;
  margin: auto;
}

.footer-links div {
  text-align: left;
}

.product-card:hover{
width: 350px;
background-color: rgb(55, 0, 144);

}



.class{
    background-color: black;
    display: grid;
    grid-template-columns: 1fr  1fr;
    color: white;
      font-family: Arial, sans-serif;
      font-size: 100%;
    width: 100%;
    position: fixed;
    
    top: 0px;
     text-align: center;
     transition: 1.5s;
}


.logo{
    width: 100%;
    height: 100%;
   
}
.logo:hover{
    transform: scale(1.1,1.1);
    }

.a1{
    display: flex;
     gap: 1%;
    font-size: 1.5vw;
    
}
.a{
  color: white;
 text-decoration: none;
}
.a1 a{
    width: 10%;
    height: 100%;
   
   }

.a1 p{
    margin: auto 2% ;
   
   }
   .a1 p:hover{
     transform: scale(1.1,1.1);
    border-bottom: 5px solid white;}
   .a2{margin: auto 2% auto 10% ;}
.a3{
   margin: auto 2%;
   width: 5%;
   height: 100%;
   filter:  contrast(100%);}
   

.a4{ margin: auto 2%;
   width: 4%;
   height: 100%;
filter: invert(90%) contrast(100%);}
.a4 :hover{
     transform: scale(1.1,1.1);
}
.a4a{margin: auto 2%;
   width: 100%;
   height: 100%;
  filter: invert(90%) contrast(100%);}
.perfil{
   margin: auto 2%;
   width: 4%;
   height: 100%;
   background-color: #000;
   border: #000 0px;
}
.cadastros{height: 20%; width: 15%;font-size:100%;background-color: rgb(0, 0, 0);position: fixed;text-align: center;top: 11%}
#perfil{align-items: end;display: flex;flex-direction: column;;margin-right: 1%; display: none;}

.cadastros a{color: white;text-decoration:none;padding: 5px 10% ;border: 5px solid white;}

.cadastros .login{color: white;text-decoration:none;padding: 5px 20%;border: 5px solid white}
.cadastros a:hover{color:  purple;border: purple solid 5px;}
.cadastros .login:hover{color:  purple;border: purple solid 5px;}


 .a3 :hover{
     transform: scale(1.1,1.1);
 }
.input{
    margin: 2% 2% 2% 35%;
}

 .footer-links {
    display: flex;
    justify-content: space-between;
    max-width: 800px;
    margin: auto;
  }

    .footer-links div {
    text-align: left;
  }
  
.footer {
    background-color: #000000;
    color: #fff;
    padding: 20px;
    border-top: 2px solid;
    margin-top: 30px;
  }