
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}


.navbar {
  width: 100%;
  height: 65px;
  background: #000;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  position: fixed;
  top: 0;
  z-index: 20;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 50px;
}

.logo {
  height: 40px;
}

.nav-links a {
  color: white;
  margin-right: 25px;
  text-decoration: none;
  transition: .3s;
}

.nav-links a:hover {
  color: #d1d1d1;
}

.nav-icons img {
  width: 25px;
  filter: brightness(0) invert(1);
  margin-left: 15px;
  cursor: pointer;
}


.banner-home {
  width: 99vw;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr;
  height: 49vw;
  margin-top: 4.5%;
}


.banner-pai {
  display: flex;
  margin-top: 12px;
  height: 850px;

}

.banner-pai img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* TÍTULO */
.titulo {
  text-align: center;
  margin-top: 40px;
  font-size: 28px;
  font-weight: bold;
}

.tenis-grid {
    margin-top: 40px;
    padding: 0 60px;
    display: flex; 
    gap: 25px;
    justify-items: center;   
}

.tenis-grid img {
    width: 215px;
    max-width: 350px;   
    height: auto;
    border-radius: 12px;
    object-fit: cover;
    transition: .3s;
}

.tenis-grid img:hover {
    transform: scale(1);
    width: 300px;
}


.tenis-grid img:hover {
  transform: scale(1.03);
}


.produtos-menores {
  margin-top: 50px;
  padding: 0 60px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  margin-bottom: 80px;
}

.produtos-menores img {
  width: 100%;
  height: 180px;
  border-radius: 10px;
  object-fit: cover;
  transition: .3s;
}

.produtos-menores img:hover {
  transform: scale(1.05);
}

/* RODAPÉ */
footer {
  width: 100%;
  background: #000;
  color: #fff;
  padding: 40px;
  display: flex;
  justify-content: space-around;
  font-size: 14px;
}

footer h4 {
  margin-bottom: 10px;
}