* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; 
   
  
  }

  body{
     background-image: linear-gradient(to top, rgb(105 105 105), rgb(0, 0, 0));
      overflow-x: hidden;
  }
/*Estilização banner*/

.banner-home{
    width: 80%;
    box-shadow: 0px 0px 7px 8px rgb(105 105 105);
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    height: 500px;
    
    margin-top: 10vw;
}

/*Estilização produtos*/

.H2{
    text-align: center;
    margin-top: 28px;
    margin-bottom: 28px;
    font-family: Arial;
   
}

.setas{border-radius: 100%;padding: 10px;}

.p1{
  display: flex;
  justify-content: space-evenly; 

  width: 100%;
  height: 100%;

  padding: 10px;
  text-align: center;
  border-radius: 8px;
  

  
   
    
}
.p1 button{
    border-radius: 100%;
     margin-top: 8vw;
       width: 5%;
       
   height: 5vw;
}
.p1 button img{
    width: 100%;
    height: 80%;
}

.p2 button img{
    width: 100%;
    height: 80%;
}


.p2{ display: flex;
   justify-content: space-evenly; 
  
  width: 100%;
  height: 100%;

  padding: 10px;
  text-align: center;
  border-radius: 8px;
  color: #000;
text-decoration: none;
  
}

.p2 button{
     border-radius: 100%;
     margin-top: 8vw;
       width: 5%;
       
   height: 5vw;
}

   .produto1 img{width: 100%;
height: 99%;}

br{margin-bottom: 5px;}

.produto2,.produto1{
 background-color: #ffffff;
  width: 20%;
  padding: 1%;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 0 6px rgba(0,0,0,0.1);
  color: #000;
  text-decoration: none;
 display: none; 
 box-shadow: 0 0 6px rgb(0, 0, 0);
}
.produto2:hover,.produto1:hover{
    margin: 10;
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    z-index: 0;
     transform: scale(1.05);
     width: 320px;
 
}
.produto2 img{width: 100%;
    height: 95%;}

  .footer-links {
    display: flex;
    justify-content: space-between;
    max-width: 800px;
    margin: auto;
  }

    .footer-links div {
    text-align: left;
  }
  
.footer {
    background-color: #000000;
    color: #fff;
    padding: 20px;
    border-top: 2px solid;
    margin-top: 30px;
  }
  













































































.class{
    background-color: black;
    display: grid;
    grid-template-columns: 1fr  1fr;
    color: white;
      font-family: Arial, sans-serif;
      font-size: 100%;
    width: 100%;
    position: fixed;
    
    top: 0px;
     text-align: center;
     transition: 1.5s;
}


.logo{
    width: 100%;
    height: 100%;
   
}
.logo:hover{
    transform: scale(1.1,1.1);
    }

.a1{
    display: flex;
     gap: 1%;
    font-size: 1.5vw;
    
}
.a{
  color: white;
 text-decoration: none;
}
.a1 a{
    width: 10%;
    height: 100%;
   
   }

.a1 p{
    margin: auto 2% ;
   
   }
   .a1 p:hover{
     transform: scale(1.1,1.1);
    border-bottom: 5px solid white;}
   .a2{margin: auto 2% auto 10% ;}
.a3{
   margin: auto 2%;
   width: 5%;
   height: 100%;
   filter:  contrast(100%);}
   

.a4{ margin: auto 2%;
   width: 4%;
   height: 100%;
filter: invert(90%) contrast(100%);}
.a4 :hover{
     transform: scale(1.1,1.1);
}
.a4a{margin: auto 2%;
   width: 100%;
   height: 100%;
  filter: invert(90%) contrast(100%);}
.perfil{
   margin: auto 2%;
   width: 4%;
   height: 100%;
   background-color: #000;
   border: #000 0px;
}
.cadastros{height: 20%; width: 15%;font-size:100%;background-color: rgb(0, 0, 0);position: fixed;text-align: center;top: 11%}
#perfil{align-items: end;display: flex;flex-direction: column;;margin-right: 1%; display: none;}

.cadastros a{color: white;text-decoration:none;padding: 5px 10% ;border: 5px solid white;}

.cadastros .login{color: white;text-decoration:none;padding: 5px 20%;border: 5px solid white}
.cadastros a:hover{color:  purple;border: purple solid 5px;}
.cadastros .login:hover{color:  purple;border: purple solid 5px;}

 .a3 :hover{
     transform: scale(1.1,1.1);
 }
.input{
    margin: 2% 2% 2% 35%;
}

.fonte {
    font-family: arial;
}